.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel .carousel-inner {
    height: 100%;
}

#firstrow {
    margin-top: 50px;
}

#secondrow {
    margin-top: 100px;

}

#secondcolumn {
    margin-top: 100px;
}

#thirdcolumn {
    margin-top: 100px;
}